@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: rgba(255, 78, 205, 1);
  background: #ecedee;
}

::selection {
  color: #ecedee;
  background: rgba(255, 78, 205, 1);
}

.modal-container {
  top: 50%;
  transform: translateY(-50%);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
