@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

::selection {
  color: rgba(255, 78, 205, 1);
  background: #ecedee;
}

::selection {
  color: #ecedee;
  background: rgba(255, 78, 205, 1);
}

.modal-container {
  top: 50%;
  transform: translateY(-50%);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Theme switcher */
.switcher {
  position: relative;
  display: block;
  width: 50px;
  height: 25px;
  border-radius: 100px;
  border: 2px solid #575b5e;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
}

.switcher:before,
.switcher:after {
  display: block;
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: 0.5s ease;
}

.switcher:before {
  background-color: #ffa41b;
}

.switcher:after {
  background-color: #141617;
  left: -58px;
  transform: scale(0.00001);
}

input[type='checkbox'] {
  display: none;
}
input[type='checkbox']:checked + .switcher:before {
  background-color: #fff;
  transform: translateX(24px);
}
input[type='checkbox']:checked + .switcher:after {
  transform: translateX(78px) scale(1);
}
input[type='checkbox']:checked + .switcher {
  background-color: #141617;
  border: 2px solid #e5e7eb;
}
